* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.container1 {
    background-color: lightblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
}