*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.primerBloque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 50vh;
    width: 100vw;
}

.segundoBloque{
    text-align: center;
    align-items: center;
    background-color: blueviolet;
    height: 50vh;
    width: 100vw;
}